torch
matplotlib
netCDF4
numpy
pandas
pycocotools
lightning
scikit-learn
scikit-multilearn
seaborn
tensorboard
torchmetrics
torchvision
tqdm
xarray
wandb[launch]>=0.16.6
dataclasses-json
rich
typing_extensions
packaging
pyyaml
pyarrow
rasterio
shapely
geopandas
torcheval
cryptography
rioxarray
dask
rasterstats
pyproj
swifter
torchdata
pyshp
contextily
tol-colors
